<ion-content>
    <div *ngIf="authService.logined">
      <div *ngIf="buttonFlag==true">
        <ion-button ion-button (click)="onClick()">Desplay</ion-button>
      </div>
      <ion-button (click)="testClick()">testButton</ion-button>
      lat: {{ geoService.latitude }}, lon: {{ geoService.longitude }}
    </div>
    <div *ngIf="!authService.logined">
      <ion-button (click)="loginClick()">Login</ion-button>
    </div>
    <div #map style="width: 100%; height: 100%"></div>
  </ion-content>
  